# Database Configuration
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

# App Settings
APP_NAME="General Ledger Consolidated System"
APP_ENV=local
APP_URL=http://http://localhost/GLCS/public/index.php
